@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b93f3f;
}

.box {
    position: relative;
    width: 380px;
    height: 600px;
    background: #b93f3f;
    border-radius: 10px;
    overflow: hidden;
}

.box::before,
.box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg, transparent, transparent, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    animation-delay: -3s;
}

.border-line::before,
.border-line::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 400px;
    background: linear-gradient(0deg, transparent, transparent, #b93f3f, #b93f3f, #b93f3f);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.border-line::before {
    animation-delay: -1.5s;
}

.border-line::after {
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box form {
    position: absolute;
    inset: 4px;
    background: #ffffff;
    padding: 50px 40px;
    border-radius: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2 {
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}

.input-box {
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.input-box input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    z-index: 10;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.5s;
    z-index: 10;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: #000000;
    font-size: 12px;
    transform: translateY(-34px);
}

.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border: 2px solid black;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
    height: 44px;
}

.imp-links {
    display: flex;
    justify-content: space-between;
}

.imp-links a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.imp-links a:hover {
    color: #000000;
}

.btn {
    width: 40%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:active {
    opacity: 0.8;
}
